.img-fluid{
    width: 100%;
}

hr.sep{
    border-style: dotted none;
    margin-bottom: 3rem;
}

.row{
    margin-bottom: 1rem;
}

/* landscape version of covers on smaller screens */
.img-landscape{display: block;}
.img-portrait{display: none;}
@media (min-width:768px){ /* 'md' breakpoint */
    .img-landscape{display: none;}
    .img-portrait{display: block;}
}

/* END OF page-books.css